body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

img {

    position: relative;
    width: 100%;
    height: 400px;
    background-image: url("static/content/data/spreadsheet.jpg");
    background-size: cover;


}

.caption1 {

    position: absolute;
    top: 200px;
    left: 16px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.3);
    color: #f1f1f1;
    padding: 20px;
    font-size: 44px;
    font-family: serif;
    font-weight: bold;

}

.caption1 h1 {

    color: #f1f1f1;
    font-size: 44px;
    font-family: serif;

}
