{% extends "layout.html" %}

{% block content %}
<div class="container">
<h2>{{ title }}.</h2>
<!-- <h3>{{ message }}</h3> -->
<h4>We are <strong>H</strong>ari, <strong>M</strong>isti / <strong>M</strong>ichael, <strong>I</strong>saac, <strong>Da</strong>vis and <strong>Ta</strong>ylor.</h4>
<p>Human Machine Interfaces have allowed us to interact with computers, analyze data to tell stories.
    Our team members understand the power of data science is only as good as the intuition and imagination of the person
    driving the data processing power of computers.
</p>
<hr/>
<div class="row biodata" style="width: 100%;">
    <div style="width: 30%; float: left;"> 
        <img src="../static/images/Hari.jpg" alt="Hari Natamai">
    </div>
    <div style="margin-left: 40%;"> 
        <h3> Hari Natamai</h3>
        <p>Engineering Manager at a global innovator of power generation and distribution.</p>
    </div>
</div>
</br>
<div class="row biodata" style="width: 100%;">
    <div style="width: 30%; float: left;"> 
        <img src="../static/images/taylor.jpg" alt="Taylor Portwood">
    </div>
    <div style="margin-left: 40%;"> 
        <h3> Taylor Portwood</h3>
        <p>Math nerd.</p>
    </div>
</div>
</br>
<div class="row biodata" style="width: 100%;">
    <div style="width: 30%; float: left;"> 
        <img src="../static/images/misti.jpg" alt="Misti Martin">
    </div>
    <div style="margin-left: 40%;"> 
        <h3> Misti Martin</h3>
        <p>I'm Misti.</p>
    </div>
</div>
</br>
<div class="row biodata" style="width: 100%;">
    <div style="width: 30%; float: left;"> 
        <img src="../static/images/isaac.jpg" alt="Isaac Neal">
    </div>
    <div style="margin-left: 40%;"> 
        <h3> Isaac Neal</h3>
        <p>I'm Isaac.</p>
    </div>
</div>
</br>
<div class="row biodata" style="width: 100%;">
    <div style="width: 30%; float: left;"> 
        <img src="../static/images/davis.jpg" alt="Davis Lee">
    </div>
    <div style="margin-left: 40%;"> 
        <h3> Davis Lee</h3>
        <p>I'm Davis.</p>
    </div>
</div>
</br>
<div class="row biodata" style="width: 100%;">
    <div style="width: 30%; float: left;"> 
        <img src="../static/images/michael.jpg" alt="Michael Park">
    </div>
    <div style="margin-left: 40%;"> 
        <h3> Michael Park</h3>
        <p>I'm Michael.</p>
    </div>
</div>
</div>

{% endblock %}
