{% extends "layout.html" %}

{% block content %}
<div class="container">
<h2>{{ title }}.</h2>
<!-- <h3>{{ message }}</h3> -->
<h4>We are <strong>H</strong>ari, <strong>M</strong>isti / <strong>M</strong>ichael, <strong>I</strong>saac, <strong>Da</strong>vis and <strong>Ta</strong>ylor.</h4>
<p>Human Machine Interfaces have allowed us to interact with computers, analyze data to tell stories.
    Our team members understand the power of data science is only as good as the intuition and imagination of the person
    driving the data processing power of computers.
</p>
<hr/>
<div class="row biodata" style="width: 100%;">
    <div style="width: 30%; float: left;"> 
        <img src="../static/images/Hari.jpg" alt="Hari Natamai">
    </div>
    <div style="margin-left: 40%;"> 
        <h3> Hari Natamai</h3>
        <p>Engineering Manager at a global innovator of power generation and distribution.</p>
    </div>
</div>
</div>

{% endblock %}
