{% extends "layout.html" %}
{% block myscripts %}
<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css"/> -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.27/dc.min.css"/>
{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
      <h2>
        Global Super Store - Sentimental Analysis
      </h2>
      <p></p>
    </div>

    <div class="row">
      <div class="col-4 col-sm-6 col-md-12">
          <h3>First Impressions</h3>
          <p>As true data scientists, we embarked on understanding and analyzing the data with a range of 
              visualization tools at our disposal.  Rendering their 2019 transaction data over a map we understand
              the retailer has a global business that seems to be doing well overall but challenged in 
              certain markets.</p>
      </div>
    </div>
  
  <img src="static/images/Sentiment.png" class="center" id="gss_negative"
        width="600"
        height="600">
  <div class="row">
    <div class="col-4 col-sm-6 col-md-12">
        <h3>Product Portfolio</h3>
        <p>We took the retail business' latest year financial data to understand their product portfolio, market penetration and sales performance.
            The sequences sunburst chart below presents our findings that is intuitive to read.</p>

        <p>We learn that the business has products ranging from Phones, Copiers, Bookcases to Binders, Paper and Labels.
            These products are managed through three main categories - Technology, Furniture and Office Supplies.
            Notice that while the Asia Pacific market (orange segment in third ring) seems to be an important market with most Sales, the Western Europe region
            (light purple segment in outer ring) has a larger share of sales across all product categories.</p>
    </div>
  </div>

    

{% endblock %}

{% block scripts %}
  <!-- <script type="text/javascript" src="js/d3.js"></script> -->
  <!-- <script type="text/javascript" src="js/crossfilter.js"></script> -->
  <!-- <script type="text/javascript" src="js/dc.js"></script> -->
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.5.2/crossfilter.js"></script>
  <script type="text/javascript" src="https://unpkg.com/dc@4/dist/dc.js"></script>
  <!-- <script type="text/css" src="https://unpkg.com/dc@4/dist/style/dc.css"></script> -->
  <script src="https://unpkg.com/currency.js@~1.2.0/dist/currency.min.js"></script>

  <script type="text/javascript" src="/static/scripts/gss_financials.js"></script>
{% endblock %}
