{% extends "layout.html" %} {% block myscripts %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %} {% block content %}
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<style>
    body {
        font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    }
    
    div {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 3px;
    }
    
    .node text {
        font: 16px 'Gill Sans MT';
    }
    
    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 2px;
    }
    
    .grid .tick {
        stroke: lightgrey;
        opacity: 0.7;
    }
    
    .grid path {
        stroke-width: 0;
    }
</style>

</head>

<body>

    <div class="whiterow">

        <h2>Monthly Sales Forecast Using Machine Learning</h5>
            <hr>
            <div id="y_filters" class="col-md-4"></div>
            <div id="chart" class="col-md-8"></div>
            <br>
            <p>References :</p>
            <a href="https://www.d3-graph-gallery.com/graph/line_change_data.html"> D3 Line Graph : d3-gallary.com</a><br>
            <a href="https://bl.ocks.org/d3noob/1a96af738c89b88723eb63456beb6510"> D3 Tree Diagram : bl.ocks.org/d3noob/</a>
    </div>

    <div style="background-color:rgba(0, 0, 0, 0.03);">
        <br>
        <h2>MSE(Mean Squared Error)</h2>
        <hr>
        <h3> 1. Definition</h3>
        <img height="171" width="413" class=" image-border" src="https://www.oreilly.com/library/view/machine-learning-with/9781785889936/assets/image_07_002.jpg">
        <h3>MSE(Mean Squared Error) Explained!</h3>


        <br>
        <a href="Salesforecast.html"> reference : Davis site</a>
    </div>



    {% endblock %} {% block scripts %}
    <script src="/static/scripts/forecastfunctions.js"></script>
    {% endblock %}