{% extends "layout.html" %}
{% block myscripts %}
<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css"/> -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.27/dc.min.css"/>
{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
      <h2>
        Global Super Store - Sentimental Analysis
      </h2>
      <p></p>
    </div>
    <div class="row">
      <div class="col-4 col-sm-6 col-md-12">
          <h3>Why Sentinmental Analysis?</h3>
          <p>In the world of social media, sentiemental analysis is a very useful tool to learn infomration from platforms such as 
            Twitter, Facebook, Amazon, or your own company webpage. This can be an automatic process where a company can access 
            consumer's opinions on a product or service in real time. 
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 col-sm-6 col-md-12">
          <h3>Word Cloud Client Feedback</h3>
          <p>We took our clients feedback and we found what the most brought up word and placed it into a visual. As a company, 
            we need to know what our customers like and dislike the most so we know our strengths and weaknesses. 
          </p>
  <img src="../static/images/Sentiment-checkpoint.png" class="center" id="gss_negative">
  <img src="../static/images/SentimentP.png" class="center" id="gss_negative"
        width="600"
        height="600">
        </div>
        </div>
        <h4>Twitter Analysis</h4>
        <div class="row" id="tweepy">
          <div class="col-4 col-sm-6 col-md-12">
              <h2>Review Sentiment Analysis</h2>
              <form action="/tweepy_search">
                  What term would you like to search for? <input type='text' name='search_term'><br><br>
              <button type = "submit"><img src="https://img.icons8.com/ios/50/000000/google-web-search.png"/></button><br>
              <!--<input type='submit' value='Continue'>-->
          </form>
          </div>
        </div>

  <div class="row">
          <div class="col-4 col-sm-6 col-md-12">
              <h3>Sentimental Analysis</h3>
              <p>We wanted to create a model to see how accurate we could predict what a positive and negative comment is to better help
                our company on what our future projections will predit and what we need to we need to achive in the present.
               </p>
          </div>
  </div>
    
  <div class="row">
    <img src="static/images/image3.png" id="im1"><br>
    <img src="static/images/image2.png" id="im1"><br>
    <img src="static/images/image1.png" id="im1"><br>
    <h3 style="font-size:16px;">pos_acc = 82.60%<br>neg_acc = 98.59%</h3>

  </div>

  </div>
{% endblock %}
{% block scripts %}
  <!-- <script type="text/javascript" src="js/d3.js"></script> -->
  <!-- <script type="text/javascript" src="js/crossfilter.js"></script> -->
  <!-- <script type="text/javascript" src="js/dc.js"></script> -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.5.2/crossfilter.js"></script>
  <script type="text/javascript" src="https://unpkg.com/dc@4/dist/dc.js"></script>
  <!-- <script type="text/css" src="https://unpkg.com/dc@4/dist/style/dc.css"></script> -->
  <script src="https://unpkg.com/currency.js@~1.2.0/dist/currency.min.js"></script>
  <script type="text/javascript" src="/static/scripts/gss_financials.js"></script>
{% endblock %}